<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Article:</strong>
  <%= @comment.article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<div class="center">
  <%= link_to 'Edit', edit_comment_path(@comment) %> |
  <%= link_to 'Back', comments_path %>
</div>

