<p id="notice"><%= notice %></p>





<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>
<%= link_to "Like #{@article.like_articles.count}", like_article_path, method: :patch %>
<%= link_to "Dislike #{@article.dislike_articles.count}", dislike_article_path, method: :patch %>

<%=form_for @comment, url: :comment_article do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Comentar" %> 
<% end %>
<p>Foto: <%=image_tag(@article.photo_url) if @article.photo.present?%></p>
<% @comments.each do |comment| %>
<p><%= comment.content %></p>
<p><%= link_to "Editar", edit_comment_article_path(comment) %></p>

<% end %>
<div class="center">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', comments_path %>
</div>
