
<%= form_for @user, url: @user.persisted? ? users_edit_path : users_new_path do |f| %>
    <% if current_user && current_user == @user || !@user.persisted? %>
    Nome: <%= f.text_field :name %><br />

    Email: <%= f.text_field :email %><br />
    
    Foto: <%= f.file_field :photo %><br />
    
    Password: <%= f.password_field :password %><br />
    
    Password_Confirmation: <%= f.password_field :password_confirmation %><br />
    <%end%>
    <%if current_user && current_user.admin %>
    Gerador de conteudo: <%= f.check_box :feeder %><br />
    <%end%>
    <%= f.submit "Enviar" %>
  
<% end %>
