body{
			margin:40px auto;
			max-width:650px;
			line-height:1.6;
			font-size:18px;
			color:#444;
			padding:0 10px;
			background-color: #ededed;
		}

	h1,h2,h3{
		line-height:1.2;
	}
	
	p{
		margin: 0;
	}

	a{
		color: #4BA2DB;
	}

	a:hover{
		color: #2980b9;
	}

	img {
	  display: block;
	  max-width: 100%;
	}

	header::after {
		content:"";
		display: block;
		width: 20px;
		height: 3px;
		background: #9a9a9a;
		margin: 30px auto 0 auto;
	}

	@media (max-width: 700px){
		body {
			max-width: 550px;
		}

		h1,h2,h3{
			text-align: center;
		}

		p {
			text-align: justify;
		}
	}
	

	
	form {
		font-weight: bold;
	}
	
	form input[type="text"], form input[type="password"] {
		background: #ededed;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom-color: #9a9a9a;
	}
	
	form input[type="submit"] {
		font-weight: bold;
		border-style: solid;
		background: #ededed;
		border-color: #444;
		margin: 10px 0;
		transition: 0.2s;
	}
	
	form input[type="submit"]:hover {
		background: #444;
		color: #ededed;
		border-color: #444;
		transition: 0.2s;
	}
