<!DOCTYPE html>
<html>
  <head>
    <title>Sistema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>Especialização de Back-end | IN Junior</h3>
      <% if logged_in? %>
        <p>Você está logado! <%= current_user.name %> <%=link_to "Logout", logout_path, method: :delete %></p>
      <% end %>
    </header>
    
    <section class="menu">
      <%= link_to 'Usuários', users_path %>
      <%= link_to 'Novo Usuário', users_new_path %>
    </section>
    
    <%= yield %>
  </body>
</html>
